.row
  .large-5.columns
    #questionsform
      = form_for @question, :remote => true do |f|
        = f.text_field :question, :placeholder => 'name'
        = f.text_field :category, :placeholder => 'cost'
        = f.submit 'Create Question', :class => 'button tiny radius success'
  .large-7.columns
    #answersform


