.row
  .large-6.columns
    = form_for @question, :method => :post, :url => create_questions_path, :remote => true do |f|
      = f.text_field :question, :placeholder => 'question'
      = f.text_field :category, :placeholder => 'category'
      = f.submit 'Create Question', :class => 'button tiny radius success'
  .large-6.columns


