%h2 Analytics

- if @auth.present?
  %table
    %tr
      %th Username
      %th Last Date
      %th Last Score
      %th Avg Score
      %th Number of Attempts
    - @interview.progresses.each do |progress|
      %tr
        %td{data: { average: @interview.avg_score }}= progress.user.name
        %td= progress.created_at
        %td= number_to_percentage(progress.last_score)
        %td= number_to_percentage(progress.interview.avg_score)
        %td= progress.interview.progresses.count

#interviewchart
