.row
  .large-4.columns
    #userimg
    %h4 User Image
    Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle rights kale chips veniam sriracha aute direct trade keffiyeh culpa swag. Est locavore chillwave kale chips. Intelligentsia aesthetic eiusmod street art fixie. Marfa pinterest cupidatat cliche squid. Odio pork belly before they sold out ugh. Street art keffiyeh carles, ea irony chambray selfies et Austin disrupt kale chips irure mixtape.Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle.
    %h4 Map
    #map_canvas
      %script
        display_map(40.7316, -73.9901, 13);
        / = "add_marker(#{@.latitude}, #{user.lng}, '#{user.name}');"
    Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle rights kale chips veniam sriracha aute direct trade keffiyeh culpa swag. Est locavore chillwave kale chips. Intelligentsia aesthetic eiusmod street art fixie.
    %h4 Add Interview
    =link_to('Add Interview', '#', :remote => true, :class => 'button small radius info')
    %br
    Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle rights kale chips veniam sriracha aute direct trade keffiyeh culpa swag. Est locavore chillwave kale chips. Intelligentsia aesthetic eiusmod street art fixie.
  .large-8.columns
    a
    %br
    %br
    %br
    %br
    %h5 Name
    %h5 Address
    %h5 Current Position
    %h5 Email
    %h5 Phone
    %h5 Balance
    %br
    %br

  .large-12.columns
    %br
    %br
    %br
    %h4 My Interviews
    %table
    / - each do ||

    Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle rights kale chips veniam sriracha aute direct trade keffiyeh culpa swag. Est locavore chillwave kale chips. Intelligentsia aesthetic eiusmod street art fixie. Marfa pinterest cupidatat cliche squid. Odio pork belly before they sold out ugh. Street art keffiyeh carles, ea irony chambray selfies et Austin disrupt kale chips irure mixtape.
    %h4 Interviews Taken
    Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle rights kale chips veniam sriracha aute direct trade keffiyeh culpa swag. Est locavore chillwave kale chips. Intelligentsia aesthetic eiusmod street art fixie. Marfa pinterest cupidatat cliche squid. Odio pork belly before they sold out ugh. Street art keffiyeh carles, ea irony chambray selfies et Austin disrupt kale chips irure mixtape.
    %h4 Graph
    Pariatur cliche tumblr twee helvetica, banksy williamsburg. Dreamcatcher twee nulla ethical, bicycle rights kale chips veniam sriracha aute direct trade keffiyeh culpa swag. Est locavore chillwave kale chips. Intelligentsia aesthetic eiusmod street art fixie. Marfa pinterest cupidatat cliche squid. Odio pork belly before they sold out ugh. Street art keffiyeh carles, ea irony chambray selfies et Austin disrupt kale chips irure mixtape.
