.row
  .large-12.columns
    %h1#centertext
      %table
        %tr
          %td{:min_width => "100px;"}
            = image_tag('http://i.imgur.com/bke4eIN.gif')
          %td
            = image_tag('http://i.imgur.com/mwsQLkU.png', :size => '100x100')
            Test!ql
          %td
            Use Test!ql to create sample interview tests in order to prepare for job interviews. Crowd-source your knowledge and make some money by selling your tests to other users. Score that next big job by buying access to our global network of interview questions!
    / #slider
    /   = image_tag('chyldprofile.jpg')
    %hr/
/ Three-up Content Blocks
.row
  .large-6.columns
    %h4 Sample Interview Subjects
    .small-6.column
      %ul
        %li Ruby on Rails
        %li Javascript
        %li HTMl/CSS
        %li Github
        %li APIs
    .small-6.column
      %ul
        %li SQL
        %li Agile Development
        %li Computer Science
  .large-6.columns
    %h4 Testimonials
    %p "I exclusively used Test.ql to prepare for job interviews. Now I'm a kickass ninja programmer and an instructor at GA's Web Dev Immersive.
    %p Before Test.ql, I thought Ruby on Rails was just a way to make fancy handrails. Thank you, InterviewR!"

    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
.row
  .footladies
    %h1.ladies Coded with love by five ladies that love what they do!
  .large-12.columns
    = image_tag('http://i.imgur.com/rPDAkJ1.jpg')

/ .row
/   .large-12.columns
/ <<<<<<< HEAD
/ / Three-up Content Blocks
/ .row
/   .large-6.columns
/     = image_tag('http://i.imgur.com/ilc3SXB.gif')
/     %h4 ://take-interviews!
/     %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
/   .large-6.columns
/     / = image_tag('graduation.jpg')
/     %h4 ://make-interviews!
/     %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
/ =======
/     %h1#centertext
/       Test!ql
/     #slider
/       / = image_tag('chyldprofile.jpg')
/     %hr/
/ / Three-up Content Blocks
/ .row
/   .large-4.columns
/     / = image_tag('retire.jpg')
/     %h4 Learn programming skills
/     %p Use Test!ql to create sample interview tests in order to prepare for job interviews. Crowd-source your knowledge and make some money by selling your tests to other users. Score that next big job by buying access to our global network of interview questions!
/     %h4 Sample Interview Subjects
/     .large-6.column
/       %ul
/         %li Ruby on Rails
/         %li Javascript
/         %li HTMl/CSS
/         %li Github
/         %li APIs
/     .large-6.column
/       %ul
/         %li SQL
/         %li Agile Development
/         %li Computer Science
/   .small-4.columns
/     %h4 Testimonials
/     %p "I exclusively used Test.ql to prepare for job interviews. Now I'm a kickass ninja programmer and an instructor at GA's Web Dev Immersive.
/     %p Before Test.ql, I thought Ruby on Rails was just a way to make fancy handrails. Thank you, InterviewR!"
/     = image_tag('chyldprofile.jpg')
/     %p -Chyld Medford, Instructor, GA WDI

/   .small-4.columns
/     %br
/     %br
/     %p "Test.ql was a great resource to grab a few programming jobs before I decided to become a doctor. Without Test.ql I would never have had the confidence to apply to medical school.
/     %p I'd reccomend Test.ql to all future internet doctors!"
/     = image_tag('dylanoshea.jpg')
/     %p -Dylan O'Shea, Future Medical Expert
/ >>>>>>> 3a2a2cf5f7e825e5a5baf34de2ffd72cc5fa9204

/ / Call to Action Panel
/ / .row
/ /   .large-12.columns
/ /     .panel
/ /       %h4 Get in touch!
/ /       .row
/ /         .large-9.columns
/ /           %p We'd love to hear from you, you attractive person you.
/ /         .large-3.columns
/ /           %a.radius.button.right{:href => "#"} Contact Us
