
// #map_canvas {
//   width: 300px;
//   height: 300px;
// }

// #chart
// {
//   height: 400px;
// }

// .hide{
//   display: none;
// }


// #interviewchart
// {
//   height: 400px;
// }

// .submitAnswer{
//   height: 25px;
//   width: 65px;
//   padding: 5px;
//   border: 2px solid blue;
//   background-color: pink;
//   margin: 5px;
// }

// .resp{
//   float: left;
// }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

#map_canvas {
  width: 300px;
  height: 200px;
}

#chart
{
  height: 200px;
  width: 617px;
  // background: white;
}

.hide{
  display: none;
}


#interviewchart
{
  height: 400px;
}

// .submitAnswer{
//   height: 25px;
//   width: 65px;
//   padding: 5px;
//   border: 2px solid blue;
//   background-color: pink;
//   margin: 5px;
// }

body, .panel, td
{
  background: #c1ffea;
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  border: 0px;
}

.button, .small, .radius, .info, .tiny
{
  background: black;
  font-family: helvetica;
  border: 0px;
}

 .stripe-button-el span, .stripe-button, .active
{
  font-size: 10px !important;
  background: #13ad79 !important;
  border: 0px !important;
  border-radius: 0px !important;
  height: 20px !important;
  border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
background-image: transparent;
}

table, ol table
{
  background: transparent !important;
  border: 0px;
  color: #fff;
    padding: 0px;
  margin: 0px;
  text-align: left;
  padding: 5px;

}

#centertext table
{
  background: transparent !important;
  border: 0px;
  color: #fff;
    padding: 0px;
  margin: 0px;
  text-align: left;
  padding: 5px;

}

thead, th
{
  background: #13ad79 !important;
  border-bottom: 2px solid white !important;
  color: white !important;
}

tr
{
  background: transparent !important;
}

h3, h4
{
  background: #13ad79;
  font-family: "sƒoleil",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  padding: 8px;
  border-bottom: 3px solid white;
  width: 338px;
}

.top-bar
{
background: #13ad79;
border-bottom: 3px solid white;
padding-bottom: 4px;
}

.top-bar-section li a:not(.button), .top-bar-section li a:not(.button):hover
{
background: #13ad79;
height: 30px;
}

.panel
{
  padding: 0px;
}

.row
{
  max-width: 100%;
  background: #c9fceb;
  padding: 10px;
}

.columns, .large-12
{
  width: 100%;
}

.stats
{float:left;
padding: 10px;
background: #e3fcf3;
border-radius: 10px;
margin: 10px;}

.test_btn, .button, .tiny, .success
{
  background: #f8d9f9;
  color: black;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
}

.submitAnswer
{
  background: #f4a4b8;
  color: white;
  padding: 6px;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  font-size: 20px;
}


.ladies
{
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
}

.footladies
{
  text-align: center;
}

#email, #password, #question_question, #question_category, #user_phone, #interview_name, #user_name, #user_email, #user_address, #user_password, #user_password_confirmation, #interview_cost, #interview_threshold, #tags, #searchinterview
{
  width: 500px;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid;
    -moz-box-shadow:    0px 0px 0px 0px #ccc;
  -webkit-box-shadow: 0px 0px 0px 0px #ccc;
  box-shadow:         0px 0px 0px 0px #ccc;
  font-weight:700;
  font-size: 30px;
}

.q
{
  border-bottom: 2px solid green;
  width: 500px;
  font-weight:700;
  font-size: 20px;
  background: #e1f4f1;
  margin-top: 5px;
  padding: 8px;
}

.resp
{
  font-style: italic;
  color: #bbb;
}

.check
{
  float: left;
  margin: 2px;
  margin-top: 3px;
  padding-top: 5px;
}

h2
{
  color: white;
}

#header
{
  color: black;
}
