#map_canvas {
  width: 300px;
  height: 300px;
}

#chart
{
  height: 400px;
}

.hide{
  display: none;
}


#interviewchart
{
  height: 400px;
}

.submitAnswer{
  height: 25px;
  width: 65px;
  padding: 5px;
  border: 2px solid blue;
  background-color: pink;
  margin: 5px;
}

.resp{
  float: left;
}