<nav class="top-bar" id= "nav">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <table>
          <tr>
            <td width="45">
        <img src="http://i.imgur.com/54RXPVi.png" width="45px">
        </td>
          <td align='left'>
        <%= link_to("Test.ql", root_path) %>
</td>
</tr>
</table>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li> <%= link_to('://take-tests!', interviews_path) %></li>
    </ul>
    <ul class="right">
      <%== login_helper %>
    </ul>
  </section>
</nav>