<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to("Interviewer", root_path) %>

      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li> <%= link_to('Something', root_path) %></li>

    </ul>

    <ul class="right">
      <li><%= link_to('Login Goes Here', root_path) %></li>
    </ul>
  </section>
</nav>
<br>